<%- include('partials/header1'); -%>

<h1>Home</h1>
<p>
  <%= StartingContent %>
  </p>
  <br />

 <%# for(var i=0;i<posts.length; i++){%>
<%#  console.log(posts[i].title);%>
<%# }%>

<% for(var i=posts.length-1;i>=0; i--){%>
  <hr />

 <h1><%= posts[i].title%></h1>


<h5><i>- by <%= posts[i].author%> </i> </h5>
<h6>     <%= posts[i].date%></h6>
<br />

 <p>

   <%= posts[i].des.substring(0,500)+"..." %>
   <a href="/posts/<%= posts[i]._id%>">Read more</a>
  </p>
  <br />
<% };%>
<%- include('partials/footer'); -%>
